@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: #101828;
  --link-bg-color: #eaecf0;
  --text-font-size: 18px;
  --default-font-size: 16px;
  --user-font-size: 20px;
  --inter-font: "Inter", sans-serif;
}

body {
  font-size: 18px;
  font-family: var(--inter-font);
}

img {
  max-width: 100%;
}
